.signup-div {
    padding: 16px;
    max-width: 600px;
    margin: auto;
}

.start-scheduling {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.start-scheduling:hover {
    opacity: 1;
}