<!DOCTYPE html>

<html>
<head>
    <title>Form Input</title>
    <meta charset="utf-8" />
    <script src="search.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "mystyle.css">


</head>

<body>
    <h1>Atlanta Housing Search</h1>

    <form id = "formid" method="POST" name ="myForm">

        <p><label>Housing Name</label><input id="name" type="text" name="name" /></p>
        <p><label>Address</label><input id="address" type="text" name="address"/></p>
        <p><label>Zip Code</label><input id="zipcode" type="text" name="zipcode" /></p> 
        <p>
                <input type="button" onclick="clickSubmit()" value="Search">
                <input type="button" onclick="this.form.reset()" value="Cancel">            
        </p>       

    </form>

<p id = "append"></p>


<br><br>
</body>
</html>
