<!DOCTYPE html>

<html>
<head>
  <meta charset = "utf-8">
  <title>{% block title %}{% endblock %}buzzplan</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-database.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <script type="text/javascript"> var username = '{{ username }}' </script>
  <script type="text/javascript" src="{{ url_for('static', filename='firebaseAPI/api.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='graph/config.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='graph/graphVis.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>

  <div class="header">
    <div class="headernodewrapper" id="headerdiv">
        <div class="headernode">
            <div class="header-logo" style="font-size:28px">buzzplan</div>
        </div>
        <div class="headernode" style="position: absolute; left: 200px;">
            <div class="headercontent">
                <div class="dropdown">
                    <div class="ddcontent">
                    <select>
                        <option value="s19">Spring 2019</option>
                        <option value="f18">Fall 2018</option>
                        <option value="sm18">Summer 2018</option>
                        <option value="s18">Spring 2018</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="headernode" id="signupbtn">
            <span class="headercontent"><a href="{{ url_for('signup') }}">Sign Up</a></span>
        </div>
        <div class="headernode" id="signinbtn">
            <span class="headercontent"><a href="{{ url_for('signin') }}">Sign In</a></span>
        </div>
    </div>
  </div>

  <div class="workspace">
    <div class="schedule-panel">
      <div class="calendar-panel">
        <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
        <div id="calendar" class="calendar" calendar>
          <table class="table-bordered">
            <tbody>
              <tr>
                <th class="week-day-times"></th>
                <th class="week-day-body">monday</th>
                <th class="week-day-body">tuesday</th>
                <th class="week-day-body">wednesday</th>
                <th class="week-day-body">thursday</th>
                <th class="week-day-right">friday</th>
              </tr>
              <tr>
                <td>
                  <div class="week-day-times-col">
                    <div class="hour"><span class="hour-legend">8:00</span><span class="small">am</span></div>
                    <div class="hour"><span class="hour-legend">9:00</span><span class="small">am</span></div>
                    <div class="hour"><span class="hour-legend">10:00</span><span class="small">am</span></div>
                    <div class="hour"><span class="hour-legend">11:00</span><span class="small">am</span></div>
                    <div class="hour"><span class="hour-legend">12:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">1:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">2:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">3:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">4:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">5:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">6:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">7:00</span><span class="small">pm</span></div>
                    <div class="hour"><span class="hour-legend">8:00</span><span class="small">pm</span></div>
                    <div class="bottom-hour"><span class="hour-legend">9:00</span><span class="small">pm</span></div>
                  </div>
                </td>
                <td>
                  <div class="week-day-body-col">
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="bottom-hour"></div>
                  </div>
                </td>
                <td>
                  <div class="week-day-body-col">
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="bottom-hour"></div>
                  </div>
                </td>
                <td>
                  <div class="week-day-body-col">
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="bottom-hour"></div>
                  </div>
                </td>
                <td>
                  <div class="week-day-body-col">
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="hour"></div>
                    <div class="bottom-hour"></div>
                  </div>
                </td>
                <td>
                  <div class="week-day-body-col">
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="right-hour"></div>
                    <div class="bottom-right-hour"></div>
                  </div>
                </td>
              </tr>
            </tbody>        
          </table>
        </div>
      </div>
    <div class="tab-panel">
    <link rel="stylesheet" href="{{ url_for('static', filename='tab-panel.css') }}">
      <!-- Tab links -->
      <div class="tabs">
        <button class="tablink" onclick="openTab(event, 'selection')">Course Select</button>
        <button class="tablink" onclick="openTab(event, 'graph')">Graph</button>
        <button class="tablink" onclick="openTab(event, 'detail')">Detail</button>
      </div>
    
      <!-- Tab content -->
      <div id="selection" class="tabcontent">
        <div id="tabcontent-1">
          <h3>Course Select</h3>
          <p>Supposed to demo function of selecting course.</p>
        </div>
      </div>
      <div id="graph" class="tabcontent">
        <div id="graph-content" style="height: 400px;">
          <h3>Graph</h3>
          <p>Supposed to show the prerequisite graph.</p> 
        </div>
      </div>
      <div id="detail" class="tabcontent">
        <div id="tabcontent-3">
          <h3>Detail</h3>
          <p>Supposed to show the course detail.</p>
        </div>
      </div>
    </div>
    </div>
    </div>

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>
