<!DOCTYPE html>

<html>
<head>
<meta charset = "utf-8">
<title>Sign Up</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="signup-div">
        <h1>New to BuzzPlan?</h1>
        <p>Enter a username and password to get started.</p>
        <hr>
            <h3>User Information</h3>
            <input type="text" placeholder="Enter a username" name="username" required>

            <input type="password" placeholder="Enter a password" name="password" required>

            <input type="password" placeholder="Confirm your password" name="password-confirm" required>

            <h3>Course Planning Information</h3>
            <h4>What degree are you working towards?</h4>
            <div class="radio-buttons">
                <input class="radio-input" type="radio" name="degree" id="bs" value='BS'>
                <label class="radio-label" for="degree">Bachelor's</label>
                <input class="radio-input" type="radio" name="degree" id="ms" value='MS'>
                <label class="radio-label" for="degree">Master's</label><br>
            </div>

            <h4>And what do you study?</h4>
            <div class="select">
				<select for="program" name="program" id="select-program" class="select-text" onchange="populateThreads()" required>
					<option value="" disabled selected></option>
				</select>
				<span class="select-highlight"></span>
				<span class="select-bar"></span>
				<label class="select-label">Select</label>
			</div>

            <h4>Do you have a concentration/thread?</h4>
            <div class="select">
                <select for="thread" name="thread" id="select-thread" class="select-text">
                    <option id="default-thread" value="N/A" disabled selected>N/A</option>
                </select>
                <span class="select-highlight"></span>
                <span class="select-bar"></span>
                <label class="select-label">Select</label>
            </div>
        <hr>

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="start-scheduling">Start scheduling</button>
        </div>
    </form> 
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-database.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='firebaseAPI/api.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='signup.js')}}"></script>
</body>
</html>